<div class="row row-cols-2 row-cols-lg-6 row-cols-md-3 row-cols-sm-2 g-4">
    <div class="col">
        <div class="card h-90 pt-4">
            <fa-icon class="fa-4x d-flex justify-content-center blueColor" [icon]="Shield"  routerLink="/admissions"></fa-icon>
            <div class="card-body d-flex justify-content-center">
                <h3 class="card-title" id="center" routerLink="/admissions">Institudes</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-90 pt-4">
            <fa-icon class="fa-4x d-flex justify-content-center blueColor" [icon]="UserGroup"></fa-icon>
            <div class="card-body d-flex justify-content-center">
                <h3 class="card-title" id="center">CV Builder</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-90 pt-4">
            <fa-icon class="fa-4x d-flex justify-content-center blueColor" [icon]="AddressCard"></fa-icon>
            <div class="card-body d-flex justify-content-center content">
                <h3 class="card-title" >Admissions</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-90 pt-4">
            <fa-icon class="fa-4x d-flex justify-content-center blueColor" [icon]="Bullhorn"></fa-icon>
            <div class="card-body d-flex justify-content-center">
                <h3 class="card-title">Ads</h3>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card h-90 pt-4">
            <fa-icon class="fa-4x d-flex justify-content-center blueColor" [icon]="BookOpen"></fa-icon>
            <div class="card-body d-flex justify-content-center">
                <h3 class="card-title">Liberary</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-90 pt-4">
            <fa-icon class="fa-4x d-flex justify-content-center blueColor" [icon]="CloudArrowDown"></fa-icon>
            <div class="card-body d-flex justify-content-center">
                <h3 class="card-title">Tutorials</h3>
            </div>
        </div>
    </div>
</div>