<footer class="footer-section" id="footer">
    <div class="container">
        <div class="footer-cta pt-5 pb-5" style="margin-left: 45px;">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <fa-icon [icon]="Location"></fa-icon>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>Sadiqabad, Near Muree Road,<br> Islamabad/Rawalpindi</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <fa-icon [icon]="phone"></fa-icon>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+92 333 8828442</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <fa-icon [icon]="mail"></fa-icon>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>atgsystems@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html" >
                                <img src="assets/logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                            <p>Join us on this educational adventure, and let Admission Lelo be your partner in achieving your academic and career goals. We're here to empower you every step of the way</p>
                        </div>
                        <!-- <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30 fs-5">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a (click)="scrollToSection('aboutUs')" >about</a></li>
                            <li><a (click)="scrollToSection('Services')">services</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><fa-icon [icon]="send"></fa-icon></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright 2020, All Right Reserved <a href="">ATG-Systems</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

