<div class="row" id="aboutUs">
    <div class="column container-fluid" style="text-align: center; ">
        <h2 class="section-heading">About Us</h2>
        <div class="underline mb-2"></div>
        <div  class="break-small mb-2"></div>
        <section class="about-us" style="width: fit-content; margin-top: 5%;">
            <div class="about-content">
                <p>At Admission Lelo, we are your trusted source for all things related to Education. Our team is dedicated to simplifying the often complex and confusing process of applying to Admissions. We provide comprehensive guides, up-to-date information, and expert advice to help you navigate the admissions journey with confidence.</p>
            </div>
            <div class="caption">
                <p>But that's not all—we are also committed to your academic success. Our website offers a diverse range of tutorials and educational resources, covering a wide array of subjects and topics. Whether you're preparing for entrance exams, seeking study tips, or looking for career guidance, we've got you covered.</p>
            </div>
        </section>
    </div>
    <div class="column container-fluid" style=" width: 35%; height:fit-content; padding-bottom: 0%; ; 
    background-color: rgb(255, 246, 145);
    border-radius: 120px 100px 70px 30px;">
        
        <img src="/assets/frontpage.png" alt=""
            style=" height: 150%; width: 100%; margin-top: -30%; margin-bottom: 0%; ">
    </div>
</div>