<section id="Services">
    <div class="row">
        <h2 class="section-heading" style=" font-size: 40px;
font-weight: 500; margin-top:40%;">Our Services</h2>
        <div class="underline mb-2 "></div>
    </div>
    <div class="row" style="margin-top: 3%; ">
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <fa-icon class="fa-x" [icon]="FileCode"></fa-icon>
                </div>
                <h3>Online Courses</h3>
                <p>Engage in interactive online courses covering a wide range of subjects, with flexible schedules to fit your lifestyle.</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <fa-icon class="fa-x" [icon]="Code"></fa-icon>
                </div>
                <h3>Career Counseling</h3>
                <p>Unlock your potential with expert guidance on career choices, academic pathways, and job market trends.</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <fa-icon class="fa-x" [icon]="resource"></fa-icon>
                </div>
                <h3>Study Resources</h3>
                <p>Access a treasure trove of study materials, from notes to practice exams, to excel in your academics.</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <fa-icon class="fa-x" [icon]="ChartLine"></fa-icon>
                </div>
                <h3>Professional Development</h3>
                <p>Elevate your career with specialized training programs designed to enhance your skills and knowledge.</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <fa-icon class="fa-x" [icon]="UserTie"></fa-icon>
                </div>
                <h3>Teacher Collaboration</h3>
                <p>We foster strong relationships educators, promoting the best interests of your Mind.</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <fa-icon class="fa-x" [icon]="ListCheck"></fa-icon>
                </div>
                <h3>Test Prep Mastery</h3>
                <p>Ace standardized tests with our comprehensive test prep programs, boosting your chances of success
                </p>
            </div>
        </div>
    </div>
</section>