<div class="center-vertical">
    <div class="about-us-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                    <div class="img-head">
                        <img src="../../../assets/laptop.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h2 class="text-head" style="font: size 50px;">
                        Who we are
                    </h2>
                    <div class="break-small mb-2"></div>
                    <p class="font">At Admission Lelo, We believe that learning is a lifelong journey, and we are dedicated to providing a comprehensive platform that caters to learners of all ages and backgrounds. Our mission is to make education accessible, engaging, and enriching for everyone.

                    </p>
                    <p  class="font">Join us on this educational journey, where the pursuit of knowledge knows no bounds. Together, we can unlock the doors to a world of opportunities and personal growth. Welcome to Admission Lelo where education is not just a destination, but a lifelong adventure.</p>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <div class="box rounded">
                                <fa-icon class="fa-2x" [icon]="User"></fa-icon>
                                <h4 class="mb-0">Total Clients</h4>
                                <p class="mb-0">999</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <div class="box rounded">
                                <fa-icon class="fa-2x" [icon]="Wrench"></fa-icon>
                                <h4 class="mb-0">Projects Done</h4>
                                <p class="mb-0">900</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <div class="box rounded">
                                <fa-icon class="fa-2x" [icon]="PaperPlane"></fa-icon>
                                <h4 class="mb-0">Working Years</h4>
                                <p class="mb-0">31</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>